@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
$black: hsl(0, 0, 0);
$primary: white;
$font: "Quicksand", sans-serif;
$grey: hsl(0, 0, 20);

// $cyan: #40ffff;
// $yellow: hsl(60, 98, 57);
// $green: #40ff40;
// $teal-green: #40ffc0;
// $pink: #ff00ff;
// $blue2: #4040ff;
// $blue: #4000ff;
