@import "./variables";
@import "./keyframes";
@import "./contact";
@import "./home";
@import "./skills";
@import "./work";
@import "nav";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $font;
}
body {
  background-color: $black;
}
::-webkit-scrollbar {
  display: none;
}
.main {
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  width: 400vw;
}
@media (max-width: 880px) {
  .container {
    flex-direction: column;
    width: 100vw;
  }
}
.active {
  display: flex !important;
}
